[Desktop Entry]
Encoding=UTF-8
Name=Grayscalizer Filter
Name[el]=Φίλτρο διαβαθμίσεων του γκρι
Name[en_GB]=Greyscaliser Filter
Name[es]=Filtro de escala de grises
Name[et]=Halltoonifilter
Name[fr]=Filtre d'échelle de gris
Name[ga]=Scagaire Liathscálaithe
Name[gl]=Filtro de escala de grises
Name[it]=Filtro gradazione di grigio
Name[km]=ធ្វើ​ឲ្យ​តម្រង​ជា​មាត្រដ្ឋាន​ប្រផេះ
Name[nds]=Griestöön-Filter
Name[nl]=Grijsfilter
Name[pt]=Filtro de Conversão para Tons de Cinzento
Name[pt_BR]=Filtro de Conversão para Escala de Cinza
Name[sv]=Gråskalningsfilter
Name[tr]=Gritonlayıcı Süzgeci
Name[uk]=Фільтр перетворення на тони сірого
Name[x-test]=xxGrayscalizer Filterxx
Comment=Transform an image to grayscale.
Comment[en_GB]=Transform an image to greyscale.
Comment[es]=Transforma una imagen a escala de grises.
Comment[et]=Teisendab pildi halltoonidesse.
Comment[fr]=Transforme une image vers l'échelle de gris
Comment[ga]=Tiontaigh íomhá go liathscála.
Comment[it]=Trasforma un'immagine in gradazioni di grigio.
Comment[km]=បម្លែង​រូបភាព​ទៅ​ជា​មាត្រដ្ឋាន​ប្រផេះ ។
Comment[nl]=Transformeer een afbeelding naar grijzen.
Comment[pt]=Transforma uma imagem para tons de cinzento.
Comment[sv]=Omvandla en bild till gråskala.
Comment[tr]=Bir resmi gri tona dönüştür.
Comment[uk]=Перетворення кольору на відтінки сірого.
Comment[x-test]=xxTransform an image to grayscale.xx
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaGrayscalizer
X-Krita-Version=2
